.footer {
  background-color: #252b46;
  padding: 20px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      height: 30px;
      margin-right: 20px;
    }
  }

  &__menu {
    display: flex;
    gap: 20px;

    a {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 13px;
      line-height: 131%;
      letter-spacing: 0.12em;
      text-align: center;
      color: #fff;
      &:hover {
        color: #646cff;
      }
    }
  }

  &__social {
    display: flex;
    gap: 15px;

    img {
      height: 20px;
      cursor: pointer;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    .container {
      flex-direction: column;
      text-align: center;
    }

    &__logo {
      flex-direction: column;
      img {
        margin-bottom: 10px;
      }
    }

    &__menu {
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
    }

    &__social {
      margin-top: 15px;
    }
  }
}
